$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

    .smiley {
        height: 152px;
        width: 152px;
        padding-bottom: 50px;
    }
/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.nglibs-container {
    height: 125px;
    min-width: 730px;

}

.paragraph {
    min-height: 300px;
    // margin: 0px 5px 0 5px;
    line-height: 2.5em;
}

div.row.paragraph {
    border: 1px solid black;
}


input {
    margin-top: 40px;
}






