<!doctype html>
<html class="no-js" ng-app='madLibs'>
    <head>
        <meta charset="utf-8">
        <title>Madlibs</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->



    </head>
    <body ng-controller="madLibsController">

        <div class="container">

                <div class="row">
                <div class="nglibs-container">
                    <div class="col-xs-2 col-sm-3"><img src="/images/mad-lib-happy-face.png" class="smiley" ></div>
                    <div class="col-xs-10 col-sm-9">  <div class="col-sm-3 col-md-4"><img src="/images/ng-mad-libs-logo.png" class="madlibs-title"></div>
                </div>
                </div>
                <div class="row paragraph">
                    <div class="col-xs-12">


                    <form class="form" role="form">
                        <div class="col-xs-4">
                            <input type="text" placeholder="Female Name" ng-model="female_name">
                            <input type="text" placeholder="Job Title" ng-model="job_title">
                            <input type="text" placeholder="Tedious Task" ng-model="tedious_task">
                        </div>
                        <div class="col-xs-4">
                            <input type="text" placeholder="Dirty task" ng-model="dirty_task">
                            <input type="text" placeholder="Celebrity" ng-model="celebrity">
                            <input type="text" placeholder="Useless skill" ng-model="useless_skill">
                        </div>
                        <div class="col-xs-4">
                            <input type="text" placeholder="Obnoxious celebrity" ng-model="obnoxious_celebrity">
                            <input type="text" placeholder="Huge number" ng-model="huge_number">
                            <input type="text" placeholder="Adjective" ng-model="adjective">
                        </div>
                    </form>


                    </div>
                </div>
                <div class="row paragraph">
                    <div class= "col-xs-12">
                        <p>{{female_name}} was a {{job_title}} who loved technology. Although she loved parts of her job, she absolutely hated  {{tedious_task}} and {{dirty_task}}. So, {{female_name}} met with her life mentor {{celebrity}} who told her to learn how to {{useless_skill}} with Thinkful. Thinkful didn't offer a course on {{useless_skill}} so she studied programming instead.</p>

                        <p>What a great decision! With her new skills, {{female_name}} built a(n) {{adjective}} robot named {{obnoxious_celebrity}} that not only loved {{dirty_task}} but did it {{huge_number}} faster.</p>
                    </div>
                </div>

            </div>



        </div>

        <script src="../bower_components/angular/angular.js"></script>






        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->

        <script src="scripts/madLibs.js"></script>
</body>
</html>
